@media (max-width: 481px){
/* Header */
header{
    padding-inline: 8px;
}
/* coverphoto */
.coverphoto{
    height: 560px;
    padding-top: 60px;
}

footer{
    flex-direction: column;
    row-gap: 32px;
    padding: 24px 0;
}

}

